{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<h2 class="dash-title">Poster Dashboard</h2>

<!-- STAT CARDS -->
<div class="stats-grid">
    <div class="stat-card">
        <h3>{{ total_tasks }}</h3>
        <p>Total Tasks Posted</p>
    </div>

    <div class="stat-card">
        <h3>{{ active_tasks }}</h3>
        <p>Active Tasks</p>
    </div>

    <div class="stat-card">
        <h3>{{ applications_received }}</h3>
        <p>Applications Received</p>
    </div>
</div>


<!-- TASK LIST -->
<h3 class="section-title">Your Posted Tasks</h3>

<div class="list-container">
    {% for task in tasks %}
        <div class="list-item">
            <div>
                <h4>{{ task.title }}</h4>
                <span class="category-tag {{ task.category }}">{{ task.get_category_display }}</span>
            </div>

            <div class="right-part">
                <span class="budget">₹{{ task.budget }}</span>
                <a href="/tasks/{{ task.id }}/" class="btn-view">View</a>
            </div>
        </div>
    {% empty %}
        <p>No tasks posted yet.</p>
    {% endfor %}
</div>

{% endblock %}
