{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">

            <h2 class="fw-bold">{{ task.title }}</h2>
            <p class="text-muted mb-3">{{ task.category|title }}</p>

            <p>{{ task.description }}</p>

            <hr>

            <p><strong>Budget:</strong> ₹{{ task.budget }}</p>
            <p><strong>Deadline:</strong> {{ task.deadline }}</p>
            <p><strong>Posted By:</strong> {{ task.posted_by.username }}</p>

            <hr>

            {% if request.user.is_authenticated %}
                {% if request.user.userprofile.role == 'freelancer' %}
                    <a href="/tasks/{{ task.id }}/apply/" class="btn btn-primary">Apply for this Task</a>
                {% endif %}
            {% else %}
                <a href="/accounts/login/" class="btn btn-outline-primary">Login to Apply</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
